<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group_15.bta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTA">
        <activity
            android:name=".instructor_account"
            android:exported="false" />
        <activity
            android:name=".advisor_account"
            android:exported="false" />
                 <activity
        android:name=".AdminMenuActivity"
        android:label="BTA">
                     <meta-data
                         android:name="android.support.PARENT_ACTIVITY"
                         android:value=".MainActivity" />
                 </activity>
        <activity
            android:name=".StudentListActivity"
            android:label="BTA: Student List" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdminMenuActivity" />
        </activity>
        <activity
            android:name=".CreateStudentActivity"
            android:label="BTA: Create Student" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudentListActivity" />
        </activity>
        <activity
            android:name=".EditStudentActivity"
            android:label="BTA: Edit Student" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudentListActivity" />
        </activity>

        <activity
            android:name=".student_account"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CourseActivity"
            android:label="BTA: Sections">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseActivity" />
        </activity>
        <activity android:name=".CategoryActivity"
            android:label="BTA: Courses">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryActivity" />
        </activity>
        <activity android:name=".CourseLandingActivity"
            android:label="BTA: Categories">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CourseLandingActivity" />
        </activity>
    </application>

</manifest>